
bin/
obj/
out/
publish/


.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates


*.dll
*.exe
*.pdb
*.cache


appsettings.Development.json


*.sln


Notes.md


api/protected/


.DS_Store
Thumbs.db

test.http